    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "index" %}">フェチ履歴書</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url "feties" %}">自分の履歴書</a></li>
            <li><a href="{% url "add_feti" %}">新規フェチ申請</a></li>
            {% if user.can_authorize %}
              {% with unauthorized_feties.count as unauthorized_feties_count %}
              <li><a href="{% url "authorize_feti" %}">新規フェチ承認 <span class="badge">{{ unauthorized_feties_count }}</span></a></li>
              {% endwith %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.display_name }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'logout' %}?next={{ request.path }}">ログアウト</a></li>
              </ul>
            </li>
            {% else %}
            <li>
              <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitterでログイン</a>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>