{% with current_user.get_twitter_account as twitter %}

<div class="twitter_profile panel panel-primary">

  <div class="icon">
    <img src="{{ twitter.profile_image_url_https }}" />
  </div>

  <div class="profile">
    <h3>{{ twitter.name }} <a target="_blank" href="https://twitter.com/{{ twitter.screen_name }}">@{{ twitter.screen_name }}</a></h3>
    <div>
      <p class="lead">{{ twitter.description }}</p>
      <p><strong>場所</strong> {{ twitter.location }}</p>
      {% if twitter.url %}<p><strong>URL</strong> <a target="_blank" href="{{ twitter.url }}">{{ twitter.url }}</a></p>{% endif %}
    </div>
  </div>

</div>

{% endwith %}